@import 'mediaQueries';

$mid-gray: #747272;
$sub-gray: #A09D9D;
$light-gray: #F1F2F2;
$blue: #A0C1EC;
$green: #44CDAD;
$red: #FF968E;
$yellow: #FFF6BB;

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 600px;
    text-align: center;
    margin-top: -20px;

    #name {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 70px;
        letter-spacing: 15px;
        padding-top: 200px;
    }

    #sub {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 7px;
        font-size: 15px;
    }

    .socialMediaButtons {
        @extend body;

        padding-bottom: 75px !important;
        
        //Buttons Animations
        #one {
            -webkit-animation-delay: .05s;
            /* Chrome, Safari, Opera */
            animation-delay: .05s; 
        }

        #three {
            -webkit-animation-delay: .20s;
            /* Chrome, Safari, Opera */
            animation-delay: .20s; 
        }

        #four {
            -webkit-animation-delay: .35s;
            /* Chrome, Safari, Opera */
            animation-delay: .35; }
        

        #five {
            -webkit-animation-delay: .40s;
            /* Chrome, Safari, Opera */
            animation-delay: .40s; 
        }
    }

    .buttons {
        display: inline-block;
        padding: 15px;
    }

    #resume {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: black;
        letter-spacing: 7px;
        text-decoration: none;
    }
}

.about {
    height: 600px;
    background-color: $light-gray;
    text-align: center;
    overflow: hidden;

    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 60px;
        letter-spacing: 15px;
        padding-top: 180px;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        max-width: 450px;
        margin: 0 auto;
        letter-spacing: 1px;
        line-height: 24px;
        text-align: left;
        color: $mid-gray;
        padding-left: 50px;
        padding-right: 50px;
    }

    #pen {
        float: left;
        margin-top: -360px;
    }

    #buds {
        float: left;
        margin-top: -75px;
        margin-left: -100px;
    }

    #glasses {
        float: right;
        margin-top: -390px;
    }
}

.portfolio {
    height: 2400px;
    width: 100% !important;
    margin: 0 !important;
    text-align: center !important;

    .text {

        padding-left: 70px;
        padding-right: 70px;
        margin: 0 auto!important;
        max-width: 650px;
        position: relative;
        top: 46%;
        transform: translateY(-46%);

        h2 {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 45px;
            letter-spacing: 8px;
            text-align: left;
        }

        h4 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 21px;
            color: $sub-gray;
            letter-spacing: 2px;
            text-align: left;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: $mid-gray;
            text-align: left;
            letter-spacing: 1px;
            line-height: 24px;
        }
    }
    
    #blue {
        background-color: $blue;
        height: 600px;

        img {
            padding-top: 50px;
            height: 600px;
            padding-left: 25px;
        }
    }

    #green {
        padding: 0;
        background-color: $green;
        height: 600px;

        img {
            padding-top: 150px;
            height: 600px;
        }
    }

    #red {
        margin-left: 0;
        background-color: $red;
        @extend #blue;
    }

    #yellow {
        background-color: $yellow;
        height: 600px;

        img {
            padding-top: 150px;
            height: 600px;
        }
    }

    .white {
        height: 600px;
    }
}

.footer {
    text-align: center;
    background-color: $light-gray;
    height: 50px;
    margin-top: -20px;

    #foot {
        padding-top: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

#oops {
    color: red;
}

.hvr-grow {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

