body, .header .socialMediaButtons {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.header {
  height: 500px;
  text-align: center; }
  .header #name {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 15px;
    padding-top: 150px; }
  .header #sub {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 7px;
    font-size: 15px; }
  .header .socialMediaButtons {
    padding-bottom: 50px !important; }
    .header .socialMediaButtons #one {
      -webkit-animation-delay: .1s;
      /* Chrome, Safari, Opera */
      animation-delay: .1s; }
    .header .socialMediaButtons #three {
      -webkit-animation-delay: .25s;
      /* Chrome, Safari, Opera */
      animation-delay: .25s; }
    .header .socialMediaButtons #four {
      -webkit-animation-delay: .4s;
      /* Chrome, Safari, Opera */
      animation-delay: .4s; }
    .header .socialMediaButtons #five {
      -webkit-animation-delay: .55s;
      /* Chrome, Safari, Opera */
      animation-delay: .55s; }
  .header .buttons {
    display: inline-block;
    padding: 15px; }
  .header #resume {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 7px;
    text-decoration: none; }

.about {
  height: 600px;
  background-color: #F1F2F2;
  text-align: center;
  overflow: hidden; }
  .about h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 15px;
    padding-top: 200px; }
  .about p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: left;
    color: #747272; }
  .about #pen {
    float: left;
    margin-top: -360px; }
  .about #buds {
    float: left;
    margin-top: -75px;
    margin-left: -100px; }
  .about #glasses {
    float: right;
    margin-top: -390px; }

.portfolio {
  height: 1800px;
  width: 100% !important;
  margin: 0 !important;
  text-align: center !important; }
  .portfolio .text {
    margin: 0 auto !important;
    max-width: 550px;
    padding-top: 180px; }
    .portfolio .text h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 48px;
      letter-spacing: 8px;
      text-align: left; }
    .portfolio .text h4 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 25px;
      color: #747272;
      letter-spacing: 2px;
      text-align: left; }
    .portfolio .text p {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #747272;
      text-align: left;
      letter-spacing: 1px;
      line-height: 24px; }
  .portfolio #green {
    background-color: #44CDAD;
    height: 600px; }
    .portfolio #green img {
      padding-top: 140px;
      height: 600px; }
  .portfolio #red {
    background-color: #FF968E;
    height: 600px; }
    .portfolio #red img {
      padding-top: 50px;
      height: 600px; }
  .portfolio #yellow {
    background-color: #FFF6BB;
    height: 600px; }
    .portfolio #yellow img {
      padding-top: 140px;
      height: 600px; }

.footer {
  text-align: center; }
  .footer #foot {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
